/* Style of elements with a defined ID */

#main {
	width:65%;
	height:1200px;
	margin:auto;
}

#subheader {
	width:100%;
	height:330px;
	margin:0 0 0 0;
/* It is possible to put multiple background images with subsequent url separated by
commas. The order of pictures will be top to bottom. */
	background-image: url("../img/skyline.png"), url("../img/paper.jpg");
/* The properties of pictures will follow the same order, separated by commas */
	background-size: auto 100%, auto 100%;
	background-repeat: none, repeat-x;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.title {
	padding-left: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 20px;
	margin-bottom: 0px;
	margin-top: 0;
	margin-right: 0px;
	font-size:60px;
	text-align:right;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

.title1 {
	padding-left: 0px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-bottom: 0px;
	margin-top: 0;
	margin-right: 0px;
	font-size:60px;
	text-align:right;
	text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
}

#bottombar {
	width:100%;
	height: 10px;
	margin-top:10px;
	background-color:#808080;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#frame-one {
	width:100%;
	height:1200px;
	border:none;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#copyright {
	display:block;
	width:100%;
	color:#ffffff;
	font-size:18px;
	font-weight:bold;
	text-align:center;
	margin:auto;
	padding-top:2%;
}

/* Main document */

body {
	background-color:#fff9e6;
	font-family:courier, sans-serif;
}

header {
	width:100%;
	height:340px;
	margin-bottom:0;
	padding-bottom:0;
}

#content {
	display:block;
	width:81%;
	margin-top: 20px;
	margin-left: 0;
	float:right;
}

footer {
	width:100%;
	height:70px;
	margin-top:10px;
	background-color:#808080;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Lateral navigation bar

Nav is the box containing all of the sidebar and providing the 
sidebar background color and outlining shadow */

nav {
	display:inline-block;
	margin-top:20px;
	padding-top:0;
	width:18%;
	height:1200px;
	background-color: lightgrey;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* This is the actual sidebar, defined as a list of elements (sidebar-item), each one of them being 
a link to different pages. A list is defined by the tags <ul>...</ul> and each element by the tags 
<li>...</li>. In each element the link is defined by the tag <a href="url">...</a>  */

.sidebar {
	list-style-type:none;
	margin: 2px 0px 2px 0px;
	padding:0;
	padding-top:20px;
	padding-bottom:20px;
	overflow: hidden;
	position:sticky;
	top:0;
}

.sidebar-item a {
	display:inline-block;
	width:85%;
	font-size:22px;
	font-weight:bold;
	text-align:center;
	padding: 30px 20px 30px 20px;
	text-decoration:none;
	color:black;
}

.sidebar-item a:hover {
	font-weight:bold;
	background-color:#f2f2f2;
	color:black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-item a:active {
	font-weight:bold;
	background-color:#f2f2f2;
	color:black;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sidebar-item a:focus {
	font-weight:bold;
	color:darkred;
}

/* Resolution change*/

@media screen and (max-width: 1600px) {
	#main {width:80%;height:1100px;}
	#frame-one {height:1100px;}
	nav {height:1100px;)
}

@media screen and (max-width: 1440px) {
	#main {width:100%;height:1100;}
	#frame-one {height:1100px;}
	nav {height:1100px;)
	.sidebar-item a {font-size:20px;}
}

@media screen and (max-width: 1280px) {
	#main {width:100%;height:1100;}
	#frame-one {height:1100px;}
	nav {height:1100px;)
	.sidebar-item a {font-size:20px;}
}

@media screen and (max-width: 1024px) {
	.title, .title1 {text-align:left;display:block;padding-left:20px;font-size:55px;}
	#main {width:100%;height:1000px;}
	#frame-one {height:1000px;}
	nav {height:1000px;)
	.sidebar-item a {font-size:20px;padding: 20px 15px 20px 15px;}
}

@media screen and (max-width: 800px) {
	.title, .title1 {text-align:left;display:block;padding-left:20px;font-size:50px;}
	#main {width:100%;height:1000px;}
	#frame-one {height:1000px;}
	#content {width:100%;float:none;}
	nav {width:100%;height:auto;}
	.sidebar-item a {width:100%;font-size:18px;padding: 15px 10px 15px 10px;}
	.sidebar-item a:hover {
	color:darkred;
	}
	.sidebar-item a:active {
	color:darkred;
	}
	.sidebar-item a:focus {
	color:darkred;
	}
}
